.catalogs__list {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.catalogs__item {
  background-color: @basic_grey;
  list-style: none;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 33px;
  margin-bottom: 20px;
  width: 227px;

  @media (min-width: @tablet-width) {
    padding-left: 52px;
    padding-right: 316px;
    padding-top: 77px;
    padding-bottom: 53px;
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 52px;
    padding-right: 51px;
    width: 467px;

    &:first-child {
      justify-self: end;
    }

    &:last-child {
      justify-self: start;
    }
  }
}

.catalogs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: start;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}

.catalogs__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.catalogs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
}
