.how-it-works {
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1400px;
  }
}

.how-it-works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @black;
  margin-top: 27px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  list-style: none;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 240px 240px;
    column-gap: 153px;
    row-gap: 77px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    column-gap: 75px;
  }
}

.how-it-works__item {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    height: 280px;
  }

  @media (min-width: @desktop-width) {
    height: 280px;
  }
}

.how-it-works__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
