.live-case {
  background-color: @additional_grey;
  padding-top: 27px;
  padding-bottom: 25px;
}

.live-case__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 280px;
}

.live-case__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.live-case__item {
  padding: 0;
  margin: 0;
}

.live-case__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @black;
  margin: 0;
}

.live-case__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
}

.live-case__term {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special_dark-grey;
}

.live-case__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}

.live-case__cost-text,
.live-case__sum {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}

.live-case__range-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}
