.main {
  background: url("../img/index-main.jpg") no-repeat 0 0;
  margin-bottom: 22px;
}

.main__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 280px;
}

.main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @white;
}

.main__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: @white;
}
